:host(home-page) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

h2 {
    text-align: center;
}
h2::before {
    content: '/ ';
    color: coral;
}

.content {
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

.page-anchor {
    text-decoration: none;
    color: white;
    background: coral;
    padding: 5px;
    border: transparent;
    border-radius: 3px;
}

.page-anchor:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}